@use "../abstract/variables" as *;

.header {
    width: 100%;
    height: 118px;
    padding: 32px 80px;
    background-color: $color-bg;

    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav_links {
        ul {
            display: flex;
            list-style: none;
            gap: 130px;

            li a {
                color: $color-text;
                font-weight: 500;
                font-size: 18px;
                transition: 0.3s;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    .get_in_touch {
        border: 5px solid rgba($color: #1B1812, $alpha: 0.43);
        padding: 15px;
        border-radius: 40px;
        color: $color-text;
        font-weight: 500;
        font-size: 18px;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba($color: #1B1812, $alpha: 0.43);
            color: #ffffff;
        }
    }
}