@use '../../../styles/abstract/variables' as *;

.ui-arrow-button  {
    display: grid;
    place-items: center;
    width: 42px;
    height: 42px;
    padding: 0;

    cursor: pointer;
    border: none;
    line-height: 0;
    overflow: hidden;
    background: rgba($color: #8793BC, $alpha: 0.82);
    border-radius: 50%;

    transition: transform 0.3s ease;

    img {
        width: 32px;
        height: 32px;
        display: block;
        pointer-events: none;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.95);
    }
}