@use '../../../styles/abstract/variables' as *;

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;

    &__title {
        text-align: center;
        font-size: 56px;
        font-weight: 600;
        margin-bottom: 100px;
        padding: 50px 0;
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }

    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        perspective: 1000px;
        transition: all 0.5s ease;
    }

    .hero__card {
        position: relative;
        cursor: pointer;
        user-select: none;
        width: 300px;
        height: 250px;
        border-radius: 20px;

        will-change: transform, opacity;
        transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), 
                    opacity 0.6s ease, 
                    filter 0.6s ease;
        
        img {
            width: 100%;
            height: 100%;
        }

        &:not(.hero__card--active) {
            filter: grayscale(40%);
            transform: scale(1.1);
            opacity: 0.9;
            z-index: 1;
        }
    

        &--active {
            width: 500px;
            height: 350px;
            filter: grayscale(0);
            transform: scale(1.2);
            z-index: 5;
            
        }
    }

}