@use '../../../styles/abstract/variables' as *;

.map-section {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 70px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        width: 100%;
        padding: 35px;

        background: rgba($color: $color-fon, $alpha: 0.33);
        border-radius: 15px;
        box-shadow: 0 6px 6px 2px rgba($color: #000000, $alpha: 0.25);
    }    

    &__link-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;

        h3 {
            font-size: 32px;
        }

    }


    &__description {
        width: 60%;

        position: relative;
        padding: 35px;

        p {
            position: relative;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.4;
            padding-left: 35px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 12px;
                background-color: rgba($color: #8793BC, $alpha: 0.82);
                box-shadow: 4px 4px 9px 0 rgba($color: #000000, $alpha: .25);
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 35px;
            right: 35px;
            height: 2px;
            background-color: rgba($color: #000000, $alpha: 0.45);
        }
    }

    &__visual {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}