@use "../abstract/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-bg;
    font-family: $font-main;
    color: $color-text;
}

a {
    text-decoration: none;
    color: inherit;
}